@use 'config' as *;

#wpadminbar {
    @media (max-width: 992px){
        display: none !important;
    }
}


#app-header{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background: transparent; /* semi-transparent blue, vezi ce nuanță vrei */
    /* backdrop-filter: blur(10px); efect modern de blur, opțional */
    color: #fff;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: background 0.3s;
    @media(max-width: 992px) {
        padding: 1rem 1rem; /* micșorăm padding-ul pe tabletă */
    }


    .socials{
      display: flex;
      align-items: center;
      gap: 1.5rem;
      i{
        font-size: 2rem;
        color: $c--white;
        transition: color 0.3s ease;
        &:hover{
          color: $c--secondary;
        }
      }

    }

    .logo{
      width: 150px;
     //max-width: 150px;
      transition: width 0.3s ease;
      @media(max-width: 600px) {
        max-width: 100px; /* micșorăm logo-ul pe mobil */
      }
    }

    #menu-header{
      li{
        a{
          font-family: $f--heading;
          font-size: 1.6rem;
          font-weight: bold;
          color: $c--white;
          transition: color 0.3s ease, text-decoration 0.3s ease;
          &:hover{
            color: $c--secondary;
            opacity: 1;
            text-decoration: none;
          }
          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -8px; // depinde cât vrei spațiu sub text
            width: 100%;
            height: 2px; // grosimea liniei
            background: $c--secondary;
            opacity: 0;
            transform: scaleX(0);
            transition: all 0.25s cubic-bezier(.4,0,.2,1);
            border-radius: 2px;
          }

          &:hover::before,
          &.active::before {
            opacity: 1;
            transform: scaleX(1);
          }
        }
        &.current_page_item{
          a {
            color: $c--white;
            font-weight: bold;
            &::before {
              opacity: 1;
              transform: scaleX(1);
            }
          }
        }
      }
    }

    @media(max-width: 992px){
    #menu-header {
        position: fixed;
        background-color: #232946;
        height: 100vh;
        width: 25vw;
        right: -100vw;
        top: 0;
        opacity: 0;
        z-index: 999;
        display: flex;
        flex-direction: column;
        transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 25.8vh;
        padding-left: 5vw;
        @media(max-width: 1050px){
            width: 35vw;
        }
        @media (max-width: 992px) {
            width: 100%;
            padding-top: 0vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.active {
            right: 0;
            top: 0;
            z-index: 999;
            opacity: 1;
            @media (max-width: 992px) {
            padding-top: 0vh;
            display: flex;
            justify-content: center;
            align-items: center;
            }
            .current-menu-item {
            color: $c--secondary;
            transform: translateX(10px);
            }
        }

        li {
            margin: 0;
            width: 100%;
            border-right: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: start;
            a {
                font-family: $f--heading;
                color: white;
                opacity: 1;
                margin: 0;
                font-weight: bold;
                font-size: 3rem;
                transition: transform 0.3s ease, color 0.3s ease;
                &:hover {
                    color: $c--secondary;
                    transform: translateX(10px);
                    text-decoration: none;
                }
            }
        }
    }
  
    .mobile-menu-toggle {
        display: flex;
        height: 43px;
        width: 4%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        z-index: 999;
        cursor: pointer;
        position: relative;
        background: transparent !important;
        @media (max-width: 992px) {
            width: 10%;
        }
        @media (max-width: 568px) {
            width: 22%;
        }
        &.active {
            @media (max-width: 992px) {
            position: relative;
            height: 100%;
            justify-content: center;
            transform: translate(0, 0);
            }
            .line2 {
            opacity: 0;
            }
            .line1 {
            transform: rotate(45deg);
            top: 1rem;
            background: $c--secondary;
            }
            .line3 {
            transform: rotate(-45deg);
            top: -0.6rem;
            background: $c--secondary;
            }
        }

        .line {
            display: block;
            height: 3px;
            width: 100%;
            max-width: 35px;
            border-radius: 10px;
            background: #fff;
            margin-bottom: 0.5rem;
            transform: rotate(0deg);
            position: relative;
            top: 0;
            right: 0;
            opacity: 1;
            // transition: 0.4s ease-out;
            transition: background 0.3s ease, transform 0.3s ease;
        }

        .line2{
            max-width: 15px;
        }

        .line3 {
            margin: 0;
        }
    }
  }
}






// Intro 


/* INTRO ONLY */
.intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background: radial-gradient(circle, #353877 60%, #232946 100%);
  //animation: fadeIn 0.7s;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0; top: 0;
  z-index: 9999;
  @media(max-width: 600px) {
    padding: 0 1rem; /* adăugăm puțin padding pe tabletă */
  }
}
.logo-intro {
  margin-bottom: 32px;
  font-weight: bold;
  animation: popIn 0.7s cubic-bezier(.6,2,.6,1);
  img{
    width: 100%;
    max-width: 250px;
    @media(max-width: 992px) {
      max-width: 200px; /* micșorăm logo-ul pe tabletă */
    }
    @media(max-width: 600px) {
      max-width: 150px; /* micșorăm logo-ul pe mobil */
    }
  }
}
.intro-title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
  animation: fadeInUp 1s cubic-bezier(.3,2,.5,1);
  color: #fff;
  font-family: $f--heading;
}
.intro-tagline {
  font-size: 1.6rem;
  font-weight: 400;
  color: $c--secondary;
  letter-spacing: 1px;
  margin-bottom: 4.5rem;
  animation: fadeInUp 1.4s cubic-bezier(.3,2,.5,1);
  font-family: $f--heading;
}
.loader {
  display: flex;
  gap: 12px;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $c--secondary;
  opacity: 0.7;
  animation: bounce 1.3s infinite;
}
.dot:nth-child(2) { animation-delay: .2s; }
.dot:nth-child(3) { animation-delay: .4s; }

@keyframes bounce {
  0%, 80%, 100% { transform: translateY(0);}
  40% { transform: translateY(-20px);}
}
@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(40px);}
  to { opacity: 1; transform: translateY(0);}
}
@keyframes popIn {
  0% { transform: scale(0);}
  70% { transform: scale(1.15);}
  100% { transform: scale(1);}
}
.fade-out {
  animation: fadeOut 0.7s forwards;
}
@keyframes fadeOut {
  from { opacity: 1;}
  to { opacity: 0;}
}
/* Responsive */
@media (max-width: 500px) {
  .intro-title { font-size: 1.3rem; }
  .intro-tagline { font-size: 1rem;}
}