@use 'config' as *;

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
	padding: 0;
	margin: 0;
	font-size: 10px;
  background-color: $c--black;
  line-height: 10px;
  scroll-behavior: smooth;
    // scrollbar styles width and color and background
  // Parent selector (ex: body, .container, etc.)
  &::-webkit-scrollbar {
    width: 8px;
    background: #f5f7fa; // Culoarea track-ului (fundalul)
  }

  &::-webkit-scrollbar-thumb {
    background: #353877; // Culoarea barei efective (thumb)
    border-radius: 6px;  // Rotunjire, opțional
  }

  // Optional: border/hover efect
  &::-webkit-scrollbar-thumb:hover {
    background: #2a2d5e; // Un pic mai închis la hover, dacă vrei
  }

  &::-webkit-scrollbar-track {
    background: #f5f7fa; // Asigură că track-ul are culoarea dorită
  }
}


tbody, td, tfoot, th, thead, tr{
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    margin: 20px 0;
  }
  th{
    font-size: 1.4rem;
    padding: 15px;
  }
  td{
    font-size: 1.2rem;
    padding: 15px;
    p, a{
      font-size: 1.2rem;
    }
    ul{
      margin: 0;
      padding: 0;
      li{
        font-size: 1.2rem;
      }
    }
  }


.container {
    @media (min-width: 1400px){
        max-width: 1860px;
        padding: 0 48px;
    }
    @media (max-width: 1399px){
        max-width: unset;
        width: 100%;
        padding: 0 48px;
    }
    @media (max-width: 992px){
        padding: 0 24px;
    }
}

.container-fluid {
    padding: 0 48px;
    
    @media (max-width: 992px){
        padding: 0 24px;
    }
}

body:not(.home) .page-content {
    padding-bottom: 72px;
}

main {
    section { 
        margin-bottom: 0px;

        @media (max-width: 992px){
           margin-bottom: 0px;
        }


    }



    // section.breadcrumbs, section.single-post-featured { margin-bottom: 24px; }
    // section:last-of-type { margin-bottom: 72px; }
}


.slick-slide { 
    margin: 0 0;
}
.slick-list {
    margin: 0 auto;
    width: 100%;
}



.slick-arrow{
    position: absolute;
    top: 0px;
    z-index: 1;
    padding: 0;
    transform: translateY(-50%);
    cursor: pointer;
    color: $c--secondary;
    width: fit-content;
    padding: 20px;
    border: none;
    i{
      font-size: 3rem;
    }
    &:hover, &:focus {
      color: $c--white;
    }
    @media(max-width: 568px){
        top: unset;
        bottom: -50px;
        transform: translateY(0);
    }
    &.slick-prev {
        left: 400px;
        @media(max-width: 1480px){
            left: 200px;
        }
        @media(max-width: 1050px){
            left: 40px;
        }
        @media(max-width: 568px){
            left: unset;
            right: 40px;
        }
    }

    &.slick-next {
        right: 400px;
        @media(max-width: 1480px){
            right: 200px;
        }
        @media(max-width: 1050px){
            right: 40px;
        }
        @media(max-width: 568px){
            right: 0px;
        }
    }
}


.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    color: transparent;
    li {
        padding: 0px;
        width: 30px;
    }

    @media (max-width: 992px){
        margin-bottom: 0;
    }



    li.slick-active button {
        background-color: $c--black;
        color: transparent;
    }

    button {
        text-indent: -9000px;
        height: 18px;
        width: 18px;
        margin: 0 12px;
        border-radius: 50%;
        padding: 0;
        border: 0;
        color: transparent;
        background-color: rgba($c--black, 0.2);
        &:hover {
            color: transparent;
        }
    }
}