@use '../../assets/css/config' as *; 

.block--listing {
    padding: 60px 0;
    position: relative;
    overflow: hidden;

    a:hover{
        text-decoration: none;
    }
    
    .content-wrapper{
        text-align: center;
        background-color: transparent;
        box-shadow: none;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }

    .listing-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6rem 2rem;
        padding-top: 40px;
        @media(max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
        @media(max-width: 600px) {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
        .portfolio-item {
            background: rgba($c--primary, 0.1);  ;
            border-radius: 1.2rem;
            padding: 0rem;
            box-shadow: 0 2px 12px rgba(70,176,229,0.10);
            text-align: center;
            position: relative;
            border-bottom: 2px solid rgba(0,0,0,0.05);
            padding-bottom: 0px;
            overflow: hidden;
            img{
                transition: transform 0.15s ease-in-out;
            }
            .project-bg{
                transition: background 0.3s ease-in-out;
                .portfolio-content{
                    strong, p{
                        transition: color 0.3s ease-in-out;
                    }
                }
            }
            &:hover{
                .project-bg{
                    background: rgba($c--primary, 1);
                }
                .portfolio-content{
                    strong, p{
                        color: $c--white;
                    }
                }
                .portfolio-item-inner{
                    img{
                        transform: translateY(-8px) scale(1.04);
                    }

                }
            }
        }
        .portfolio-item-inner {
            @media(max-width: 600px) {
                p{
                    padding: 0 2rem;
                }
            }
        }
        .portfolio-item img {
            width: 100%;
            max-height: 300px;
            min-height: 300px;
            object-fit: cover;
            /* border-radius: 0.9rem; */
            margin-bottom: 1rem;
        }
        .portfolio-item{
            .portfolio-content{
                padding: 2rem 0 6rem;
                h3 {
                    margin-top: 0;
                    font-size: 2rem;
                    color: $c--secondary;
                    margin-bottom: 0.5rem;
                }
                .description{
                    color: $c--secondary;
                    font-size: 1.6rem;
                }
            }
        } 
    }

}


#block_687a7b70cd553{
    padding: 0;
    .listing-wrapper{
        padding: 0;
    }
}