@keyframes rollDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: -4px;
  }
}
@keyframes rollRight {
  0% {
    right: 0;
  }
  50% {
    right: 0;
  }
  100% {
    right: -4px;
  }
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 10px;
  scroll-behavior: smooth;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  margin: 20px 0;
}

th {
  font-size: 1.4rem;
  padding: 15px;
}

td {
  font-size: 1.2rem;
  padding: 15px;
}
td p, td a {
  font-size: 1.2rem;
}
td ul {
  margin: 0;
  padding: 0;
}
td ul li {
  font-size: 1.2rem;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1640px;
    padding: 0 48px;
  }
}
@media (max-width: 1399px) {
  .container {
    max-width: unset;
    width: 100%;
    padding: 0 48px;
  }
}
@media (max-width: 992px) {
  .container {
    padding: 0 24px;
  }
}

.container-fluid {
  padding: 0 48px;
}
@media (max-width: 992px) {
  .container-fluid {
    padding: 0 24px;
  }
}

body:not(.home) .page-content {
  padding-bottom: 72px;
}

main section {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  main section {
    margin-bottom: 30px;
  }
}

.slick-slide {
  margin: 0 0;
}

.slick-list {
  margin: 0 auto;
  width: 100%;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  color: transparent;
}
.slick-dots li {
  padding: 0px;
  width: 30px;
}
@media (max-width: 992px) {
  .slick-dots {
    margin-bottom: 0;
  }
}
.slick-dots li.slick-active button {
  background-color: #111;
  color: transparent;
}
.slick-dots button {
  text-indent: -9000px;
  height: 18px;
  width: 18px;
  margin: 0 12px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  color: transparent;
  background-color: rgba(17, 17, 17, 0.2);
}
.slick-dots button:hover {
  color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.15s ease-out;
  position: relative;
}
a:not(.button):not(.component--cta):not(.menu-link):after {
  content: "";
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  height: 1px;
  width: 100%;
  max-width: 100%;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
a:not(.button):not(.component--cta):not(.menu-link):hover:after {
  animation-name: slideAcross;
}

@keyframes slideAcross {
  0% {
    left: 0;
    max-width: 100%;
  }
  50% {
    left: 100%;
    max-width: 0;
  }
  51% {
    left: 0;
  }
  100% {
    left: 0;
    max-width: 100%;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", serif;
  line-height: 1.2;
}

p, li, span, small, a, blockquote, td, address {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  font-weight: 300;
}

h1 {
  font-size: 4.8rem;
  margin-bottom: 36px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 8vw;
    line-height: 1.4;
  }
}
@media (max-width: 568px) {
  h1 {
    font-size: 8vw;
  }
}

h2 {
  font-size: 3.8rem;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 4.8vw;
    line-height: 1.6;
  }
}
@media (max-width: 568px) {
  h2 {
    font-size: 6vw;
  }
}

h3 {
  font-size: 3.2rem;
  margin-bottom: 12px;
  line-height: 1.4;
}
@media (max-width: 768px) {
  h3 {
    font-size: 4vw;
  }
}
@media (max-width: 568px) {
  h3 {
    font-size: 5vw;
  }
}

h4, h5, h6 {
  font-size: 1.8rem;
  margin-bottom: 12px;
}

p + h2,
p + h3,
p + h4,
ul + h2,
ul + h3,
ul + h4 {
  margin-top: 36px;
}

p, li, a, span, blockquote, address {
  font-size: 1.8rem;
  margin-bottom: 12px;
  color: #2F3129;
}
@media (max-width: 568px) {
  p, li, a, span, blockquote, address {
    font-size: 4vw;
  }
}

i {
  font-size: 1.6rem;
}

address {
  display: inline-flex;
  text-align: left;
}

small {
  font-size: 1.2rem;
}

ul, ol {
  margin: 24px 24px;
}

.page-content a {
  text-decoration: underline;
  color: rgba(17, 17, 17, 0.8);
}
.page-content a:hover {
  color: #111111;
}

figure.wp-block-image {
  margin: 36px 0;
  display: table;
}
figure.wp-block-image figcaption {
  font-size: 1.2rem;
  line-height: 1.4;
  display: table-caption;
  caption-side: bottom;
  padding: 12px 6px;
  background-color: rgba(17, 17, 17, 0.1);
  color: rgba(17, 17, 17, 0.6);
  margin: 0;
}

small * {
  font-size: inherit;
  line-height: inherit;
}
small a {
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  margin: 0;
}
small a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(17, 17, 17, 0.2);
  display: inline-block;
  transition: all 0.15s ease-out;
}

/* MENUS */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.menu li {
  display: inline-block;
  margin: 0 12px;
}
.menu li:first-of-type {
  margin-left: 0;
}
.menu li:last-of-type {
  margin-right: 0;
}
.menu a {
  font-size: 24px;
}
.menu a:hover {
  opacity: 0.7;
}

/* Social links */
.social-links a:hover {
  color: rgba(17, 17, 17, 0.6);
}

/* Button */
button,
.button {
  border: 1px solid;
  border-radius: 0;
  padding: 10px 20px;
  text-align: right;
  background-color: transparent;
  font-size: 1.8rem;
  line-height: 1;
  font-family: "Lato", serif;
  text-decoration: none !important;
  transition: all 0.25s ease-in-out;
  display: inline-block;
  font-weight: 800;
  user-select: none;
  color: white;
  width: 150px;
  height: 40px;
}
button[disabled],
.button[disabled] {
  background-color: #DFDFDF !important;
  border-color: #DFDFDF !important;
  color: #acacac !important;
}
@media (max-width: 768px) {
  button,
.button {
    font-size: 1.4rem;
  }
}
button:hover, button:focus, button:active,
.button:hover,
.button:focus,
.button:active {
  outline: none;
  color: inherit;
}
button.has-icon,
.button.has-icon {
  text-align: left;
  display: inline-flex;
  align-items: center;
}
button.has-icon i,
.button.has-icon i {
  display: inline-block;
  margin: 0 0 0 36px;
  color: inherit;
  font-size: 1.2rem;
  line-height: 1;
}

/* Section animation */
/* BREAKOUT CONTAINER */
.break-out {
  width: 100%;
  position: relative;
  left: 0;
}

form .inputWrapper {
  display: block;
  width: 100%;
  padding-bottom: 24px;
}

.error404 {
  background-color: #FFF;
  color: #111;
}
.error404 * {
  color: inherit;
}
.error404 header, .error404 footer {
  display: none;
}
.error404 img {
  margin-bottom: 24px;
}
.error404 p + a {
  display: inline-block;
  margin-top: 60px;
}
.error404 h1 {
  color: #111;
  margin: 0 0 24px;
}
.error404 .component--cta {
  padding: 4px 0;
}
.error404 .component--cta i {
  bottom: 0;
  position: relative;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.error404 .component--cta:hover {
  color: inherit;
}
.error404 .component--cta:hover i[class*=down] {
  animation-name: rollDown;
}
.error404 .component--cta:hover i[class*=right] {
  animation-name: rollRight;
}

.page-not-found {
  height: 100vh;
  margin: 0 !important;
  overflow: hidden;
}
.page-not-found img {
  max-width: 120px;
}
.page-not-found .container {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

.single-careers .component--brand-colophon {
  height: 184px;
  width: 184px;
  margin: 0 0 60px;
}
.single-careers aside .brand--image img {
  width: 100%;
}
.single-careers aside .brand--content {
  padding: 60px 48px;
}
.single-careers aside .brand--content * {
  color: inherit;
}
.single-careers h1 {
  width: 100%;
  border-bottom: 1px solid #111;
  padding: 0 0 24px;
  margin: 0 0 60px;
}
.single-careers h4 {
  font-size: 2rem;
  opacity: 0.8;
}
.single-careers .the--role {
  padding: 96px 0;
}
.single-careers .the--role a {
  text-decoration: underline;
}
.single-careers a.button {
  margin-top: 36px;
}

@media (max-width: 992px) {
  #wpadminbar {
    display: none !important;
  }
}

footer {
  padding: 80px 0;
  text-align: center;
}
@media (max-width: 992px) {
  footer {
    padding: 60px 0;
  }
}

form legend {
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 24px;
  display: block;
  border-bottom: 1px solid rgba(223, 223, 223, 0.4);
}
form label {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: "Lato", sans-serif;
  color: rgba(17, 17, 17, 0.4);
  transition: all 0.05s ease-out;
  margin: 0 0 4px;
  cursor: pointer;
}
form input, form textarea {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  font-size: 1.6rem;
  padding: 12px;
  width: 100%;
  border: 1px solid #f9f9f9;
  transition: all 0.15s ease-out;
  cursor: text;
}
form input:active, form input:focus, form textarea:active, form textarea:focus {
  outline: none;
  border-color: #111;
  background-color: #f3f3f3;
}
form input:hover, form textarea:hover {
  background-color: #f3f3f3;
}
form textarea {
  resize: none;
  height: 240px;
}

.wpforms-error {
  font-size: 14px;
  margin: 10px 0;
}

main div.wpforms-container-full {
  width: 100%;
  margin: 0;
}
main div.wpforms-container-full .wpforms-form .wpforms-title {
  font-size: 3.6rem;
  line-height: 1.6;
  color: #111;
  padding-bottom: 12px;
  margin-bottom: 24px;
  font-family: "Lato", serif;
  position: relative;
}
main div.wpforms-container-full .wpforms-form .wpforms-title:after {
  content: "";
  width: 100%;
  display: block;
  height: 1px;
  background-color: #111;
  position: absolute;
  top: 100%;
}
main div.wpforms-container-full .wpforms-form .wpforms-description {
  font-family: "Lato", sans-serif;
  color: #111;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 0 0 48px;
}
main div.wpforms-container-full .wpforms-form .wpforms-required-label {
  color: #111;
}
main div.wpforms-container-full .wpforms-form .wpforms-error {
  padding-top: 5px;
  opacity: 0.6;
}
main div.wpforms-container-full .wpforms-form .wpforms-pagebreak-left {
  padding-top: 10px;
}
main div.wpforms-container-full .wpforms-form .wpforms-field {
  padding: 0 0 20px;
}
main div.wpforms-container-full .wpforms-form .wpforms-field label.wpforms-field-label {
  color: #072a3a;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 15px 0 7.5px 0;
}
main div.wpforms-container-full .wpforms-form .wpforms-field input {
  border-radius: 0;
  width: 100%;
  max-width: unset;
  padding: 12px;
  height: auto;
}
main div.wpforms-container-full .wpforms-form .wpforms-field select {
  border-radius: 0;
  width: 100%;
  max-width: unset;
  padding: 11px;
  height: auto;
  font-family: "Lato", sans-serif;
}
main div.wpforms-container-full .wpforms-form .wpforms-field input[type=checkbox] {
  width: auto;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  cursor: pointer;
}
main div.wpforms-container-full .wpforms-form .wpforms-field input[type=radio] {
  width: auto;
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
  cursor: pointer;
}
main div.wpforms-container-full .wpforms-form .wpforms-field input[type=radio]:checked {
  background-color: #111;
}
main div.wpforms-container-full .wpforms-form .wpforms-field textarea {
  padding: 12px;
}
main div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-field-file-upload {
  padding: 24px 0 36px;
}
main div.wpforms-container-full .wpforms-form .wpforms-field .wpforms-field-description {
  color: rgba(17, 17, 17, 0.4);
}
main div.wpforms-container-full .wpforms-form .wpforms-field-large {
  padding: 0 0 10px;
}
main div.wpforms-container-full .wpforms-form button[type=submit], main div.wpforms-container-full .wpforms-form button.wpforms-page-button {
  border: 1px solid #111;
  border-radius: 0;
  padding: 16px 20px;
  color: #FFF;
  font-size: 1.8rem;
  line-height: 1;
  font-family: "Lato", serif;
  text-decoration: none !important;
  transition: all 0.25s ease-in-out;
  font-weight: 500;
  user-select: none;
  color: #FFF;
  background-color: #111;
  text-align: left;
  display: inline-flex;
  align-items: center;
}
main div.wpforms-container-full .wpforms-form button[type=submit]:hover, main div.wpforms-container-full .wpforms-form button.wpforms-page-button:hover {
  opacity: 0.8;
  background-color: #111;
  border: 1px solid #111;
}
main div.wpforms-container-full .wpforms-form button[type=submit]:after, main div.wpforms-container-full .wpforms-form button.wpforms-page-button.wpforms-page-next:after {
  content: "\f178";
  color: #FFF;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin: 0 0 0 36px;
  color: inherit;
  font-size: 1.2rem;
  line-height: 1;
}
main div.wpforms-container-full .wpforms-form button.wpforms-page-button.wpforms-page-prev:before {
  content: "\f177";
  color: #FFF;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin: 0 36px 0 0;
  color: inherit;
  font-size: 1.2rem;
  line-height: 1;
}
main div.wpforms-container-full .wpforms-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(17, 17, 17, 0.4);
}
main div.wpforms-container-full .wpforms-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(17, 17, 17, 0.4);
}
main div.wpforms-container-full .wpforms-form :-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(17, 17, 17, 0.4);
}
main div.wpforms-container-full .wpforms-form :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(17, 17, 17, 0.4);
}
main .wpforms-confirmation-container-full {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
main .wpforms-confirmation-container-full p {
  font-family: "Lato", serif;
  color: #111;
  font-size: 1.8rem;
  line-height: 1.6;
}
main .wpforms-confirmation-container-full p strong {
  font-weight: 600;
}

.component--application-form {
  position: absolute;
  top: min(200px, 20vh);
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
}
@media (max-width: 992px) {
  .component--application-form {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    z-index: 30;
    pointer-events: none;
  }
}
.component--application-form .wpforms-page-indicator.progress {
  display: block;
}
.component--application-form .wpforms-page-indicator.progress .wpforms-page-indicator-steps {
  color: #072a3a;
  font-size: 1.6rem;
}
.component--application-form .application-form--content {
  background-color: #FFF;
  padding: 0;
  border-radius: 6px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  width: min(60vw, 720px);
  max-width: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.35s ease, max-width 0.01s 0.36s linear, padding 0.01s 0.36s linear;
}
.component--application-form .application-form--content.open {
  padding: 48px;
  pointer-events: auto;
  opacity: 1;
  max-width: min(60vw, 720px);
  transition: opacity 0.35s 0.01s ease, max-width 0.01s linear, padding 0.01s linear;
}
@media (max-width: 992px) {
  .component--application-form .application-form--content.open {
    max-width: unset;
    width: 100%;
    height: 100%;
    padding-right: 24px;
    position: fixed;
    border-radius: 0;
  }
}
@media (max-width: 992px) {
  .component--application-form div.wpforms-container-full {
    padding-right: 24px;
    height: 100%;
    overflow: auto;
  }
}
.component--application-form i.fa-times-circle {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: -6px;
  right: -6px;
  color: #111;
  margin: 0;
}
@media (max-width: 992px) {
  .component--application-form i.fa-times-circle {
    top: 24px;
    right: 24px;
    font-size: 36px;
  }
}
.component--application-form #wpforms-486-field_20-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}

.component--listing-card {
  position: relative;
  color: #FFF;
  align-self: flex-start;
}
@media (max-width: 992px) {
  .component--listing-card {
    padding: 0;
  }
}
.component--listing-card .card--background {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: fit-content;
}
.component--listing-card .card--background .card--image {
  display: flex;
  width: 100%;
  height: 220px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px 20px;
}
@media (max-width: 992px) {
  .component--listing-card .card--background .card--image {
    height: 150px;
  }
}
.component--listing-card .card--content {
  padding: 20px;
  width: 100%;
  height: 100%;
  min-height: 200px;
}
.component--listing-card .card--content h3, .component--listing-card .card--content p {
  color: #111;
}
.component--listing-card .card--content .cta--holder {
  padding-top: 30px;
}
@media (max-width: 992px) {
  .component--listing-card .card--content {
    padding: 20px 20px 40px;
  }
}
.component--listing-card.card {
  border: transparent;
  overflow: hidden;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  background-color: #111;
}
.component--listing-card.card .card--content h3, .component--listing-card.card .card--content p {
  color: #FFF;
}
.component--listing-card.card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.component--listing-card.card:hover .card--background .card--image {
  transition: all 0.3s ease-in-out;
}
.component--listing-card.card:hover .card--background .card--image:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.component--listing-card.card .card--image {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.component--listing-card.widget, .component--listing-card.card, .component--listing-card.image {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}
.component--listing-card.widget .card--background .card--image, .component--listing-card.card .card--background .card--image, .component--listing-card.image .card--background .card--image {
  transition: all 0.3s ease-in-out;
}
.component--listing-card.widget .card--background .card--image:hover, .component--listing-card.card .card--background .card--image:hover, .component--listing-card.image .card--background .card--image:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .component--listing-card.widget, .component--listing-card.card, .component--listing-card.image {
    width: 100%;
  }
}
.component--listing-card.image .card--background .card--image {
  transition: all 0.3s ease-in-out;
}
.component--listing-card.image .card--background .card--image:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.component--listing-card .component--cta {
  padding: 4px 0;
}
.component--listing-card .component--cta i {
  bottom: 0;
  position: relative;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.component--listing-card .component--cta:hover {
  color: inherit;
}
.component--listing-card .component--cta:hover i[class*=down] {
  animation-name: rollDown;
}
.component--listing-card .component--cta:hover i[class*=right] {
  animation-name: rollRight;
}

.cta--holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 96px;
}
@media (max-width: 992px) {
  .cta--holder {
    padding-top: 5vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
}

.component--cta {
  margin-right: 48px;
}
.component--cta:last-of-type {
  margin-right: 0;
}
@media (max-width: 992px) {
  .component--cta {
    margin-right: 0;
    margin: 0 0 12px;
  }
}
.component--cta i {
  margin: 0 0 0 12px;
}
.component--cta span {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#cookie {
  background-color: #FFF;
  position: fixed;
  z-index: 10;
  right: 24px;
  bottom: 24px;
  width: auto;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(17, 17, 17, 0.3);
  -moz-box-shadow: 0px 0px 12px 0px rgba(17, 17, 17, 0.3);
  box-shadow: 0px 0px 12px 0px rgba(17, 17, 17, 0.3);
  border-radius: 6px;
  backdrop-filter: blur(2px);
}
#cookie.pending {
  opacity: 0;
  bottom: 24px;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-name: C_slideup;
}
@media (max-width: 768px) {
  #cookie.pending {
    animation-name: C_M_slideup;
  }
}
#cookie.accepted {
  opacity: 1;
  bottom: 24px;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-name: C_slidedown;
}
@media (max-width: 768px) {
  #cookie.accepted {
    animation-name: C_M_slidedown;
  }
}
#cookie button {
  border-radius: 50%;
  padding: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#cookie button:hover {
  background-color: #111;
  color: #FFF;
}
#cookie p, #cookie button {
  margin: 0;
}
#cookie p {
  font-size: 1.2rem;
  padding: 0 24px 0 0;
  display: inline-block;
  color: #111;
}
#cookie p a {
  font-size: inherit;
  line-height: inherit;
  color: #111;
}
#cookie p a:after {
  background-color: #111;
}
#cookie button.has-icon i {
  font-size: 1.6rem;
  line-height: 1;
  margin: 0 2px;
}

@keyframes C_slideup {
  from {
    opacity: 0;
    bottom: -12px;
  }
  to {
    opacity: 1;
    bottom: 24px;
  }
}
@keyframes C_M_slideup {
  from {
    opacity: 0;
    bottom: -12px;
  }
  to {
    opacity: 1;
    bottom: 24px;
  }
}
@keyframes C_slidedown {
  from {
    opacity: 1;
    bottom: 24px;
  }
  to {
    opacity: 0;
    bottom: -12px;
  }
}
@keyframes C_M_slidedown {
  from {
    opacity: 1;
    bottom: 0px;
  }
  to {
    opacity: 0;
    bottom: -12px;
  }
}
.block--formal {
  padding: 96px 0;
}
.block--formal h2 {
  color: #111;
  margin: 0 0 12px;
}
.block--formal p + h2 {
  margin-top: 72px;
}
.block--formal a {
  color: #111;
  text-decoration: underline;
}
.block--formal a:hover {
  text-decoration: underline;
}
.block--formal ul.links {
  list-style-type: none;
  position: sticky;
  top: 200px;
}
.block--formal ul.links li {
  margin: 0;
}
.block--formal ul.links a {
  font-family: "Lato", serif;
}

.block--media {
  background-color: #FFF;
  position: relative;
}
.block--media .media--container {
  width: 100%;
  padding: 10vh 8vw;
  min-height: 650px;
  position: relative;
  overflow: hidden;
}
.block--media .media--container a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block--media .media--container a:hover:before {
  transform: scale(1.2) !important;
  opacity: 1 !important;
}
.block--media .media--container a:before {
  color: #FFF;
  font-size: 56px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: all 0.25s ease;
  opacity: 0;
}
.block--media .media--container a:before {
  content: "\f144";
  opacity: 0.6;
}
.block--media video, .block--media .media--image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.block--media .media--image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.block--listing {
  padding: 80px 0 80px;
  background-color: #FFF;
  color: #111;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 992px) {
  .block--listing {
    padding: 60px 0 60px;
  }
  .block--listing .slick-slide {
    height: inherit;
  }
  .block--listing .slick-track {
    display: flex;
  }
}
.block--listing .listing--content {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.block--listing .listing--wrapper {
  position: relative;
  width: 100%;
}
.block--listing .listing--wrapper.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 60px 72px;
}
@media (max-width: 1200px) {
  .block--listing .listing--wrapper.grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vw 3vw;
  }
}
@media (max-width: 992px) {
  .block--listing .listing--wrapper.grid {
    padding-top: 60px;
    grid-template-columns: 1fr;
  }
}
.block--listing .listing--wrapper.grid .card, .block--listing .listing--wrapper.grid .image, .block--listing .listing--wrapper.grid .widget {
  width: 100%;
}
.block--listing .listing--wrapper.flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .block--listing .listing--wrapper.flex {
    padding-top: 60px;
    flex-direction: column;
  }
}
.block--listing .listing--wrapper.slider .slick-arrow i {
  color: #000;
  background-color: red;
}
.block--listing .slick-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
  color: #000;
  width: max-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.block--listing .slick-prev {
  left: 0;
  border-radius: 10px 0px 0px 10px;
  padding: 10px 20px 10px 15px;
}
.block--listing .slick-next {
  right: 0;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 20px 10px 15px;
}

.block--content {
  position: relative;
  overflow: hidden;
  color: #111;
}
.block--content * {
  color: inherit;
}
.block--content.flex-row-reverse .grid--container {
  grid-template-columns: 55% 45%;
}
@media (max-width: 992px) {
  .block--content.flex-row-reverse .grid--container {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-template-rows: 40vh auto;
  }
}
@media (max-width: 992px) {
  .block--content.flex-row-reverse .brand-override {
    grid-template-rows: 0vh auto;
  }
}
@media (max-width: 992px) {
  .block--content.flex-row-reverse .brand-override-2 {
    height: 1px;
  }
}
.block--content.flex-row-reverse .image {
  grid-column: 2;
}
@media (max-width: 992px) {
  .block--content.flex-row-reverse .image {
    grid-column: unset;
  }
}
.block--content .content--wrapper {
  padding: 10vh 8vw;
}
@media (max-width: 1200px) {
  .block--content .content--wrapper {
    padding: 20vh 4vw;
  }
}
@media (max-width: 992px) {
  .block--content .content--wrapper {
    padding: 8vh 0;
  }
}
@media (max-width: 568px) {
  .block--content .content--wrapper {
    padding: 6vh 0;
  }
}
.block--content .image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #DFDFDF;
}
.block--content .grid--container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 45% 55%;
}
@media (max-width: 992px) {
  .block--content .grid--container {
    grid-template-rows: 40vh auto;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}
.block--content .component--cta {
  padding: 4px 0;
}
.block--content .component--cta i {
  bottom: 0;
  position: relative;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.block--content .component--cta:hover {
  color: inherit;
  opacity: 0.8;
}
.block--content .component--cta:hover i[class*=down] {
  animation-name: rollDown;
}
.block--content .component--cta:hover i[class*=right] {
  animation-name: rollRight;
}
.block--content .image--wrapper {
  display: grid;
  grid-gap: 72px;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  align-items: center;
  padding-top: 72px;
}
@media (max-width: 568px) {
  .block--content .image--wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 36px;
  }
  .block--content .image--wrapper img {
    margin: 0 auto;
  }
}
.block--content .image--wrapper img {
  max-height: 132px;
}
.block--content p a {
  color: rgba(17, 17, 17, 0.8);
  text-decoration: none;
}
.block--content p a:hover {
  text-decoration: underline;
}

.grid-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 600px;
}
@media (max-width: 992px) {
  .grid-image {
    min-height: 300px;
  }
}
.grid-image img {
  max-width: 100%;
  max-height: 100%;
}

.grid-image-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 600px;
}
@media (max-width: 992px) {
  .grid-image-top {
    min-height: 300px;
  }
}
.grid-image-top img {
  max-width: 70%;
  max-height: 70%;
}

.single-career .block--breadcrumbs {
  padding-bottom: 144px;
}

.block--hero + .block--breadcrumbs {
  margin-top: -24px;
}

.block--breadcrumbs {
  padding: 26px 0 22px;
  color: rgba(17, 17, 17, 0.5);
  margin-bottom: 0;
  top: 132px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 4;
}
@media (max-width: 992px) {
  .block--breadcrumbs {
    min-height: 30px;
    padding: 0;
  }
}
@media (max-width: 992px) {
  .block--breadcrumbs span, .block--breadcrumbs i {
    display: none;
  }
}
.block--breadcrumbs a, .block--breadcrumbs span, .block--breadcrumbs p {
  color: inherit;
}
.block--breadcrumbs a {
  margin-right: 6px;
  padding: 0;
  margin: 0;
}
.block--breadcrumbs a:hover {
  color: #111;
}
.block--breadcrumbs span.breadcrumb_last {
  margin-left: 6px;
}
.block--breadcrumbs p {
  margin: 0;
}
.block--breadcrumbs p#breadcrumbs a {
  margin-right: 6px;
}
.block--breadcrumbs p#breadcrumbs a + span {
  margin-left: 6px;
}
.block--breadcrumbs .breadcrumb-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.block--breadcrumbs li {
  display: inline-block;
  margin: 0 12px;
  padding: 0 6px;
}
.block--breadcrumbs li a {
  padding: 0;
}
.block--breadcrumbs li a:hover {
  opacity: 0.6;
}
.block--breadcrumbs i.fa-share-nodes {
  font-size: 1.8rem;
  margin-left: 12px;
  cursor: pointer;
}

.block--hero,
.hero-slider,
.slider {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  color: #FFF;
  position: relative;
  overflow: hidden;
  height: 890px;
  width: 100%;
}
@media (max-width: 1050px) {
  .block--hero,
.hero-slider,
.slider {
    height: 500px;
  }
}
.block--hero *,
.hero-slider *,
.slider * {
  color: inherit;
}
.block--hero .content-wrapper,
.hero-slider .content-wrapper,
.slider .content-wrapper {
  padding: 35vh 20vw 0 0;
}
@media (max-width: 1440px) {
  .block--hero .content-wrapper,
.hero-slider .content-wrapper,
.slider .content-wrapper {
    padding: 35vh 15vw 0vh 0;
  }
}
@media (max-width: 1050px) {
  .block--hero .content-wrapper,
.hero-slider .content-wrapper,
.slider .content-wrapper {
    padding: 20vh 20vw 0 0;
  }
}
@media (max-height: 800px) {
  .block--hero .content-wrapper,
.hero-slider .content-wrapper,
.slider .content-wrapper {
    padding: 40vh 10vw 0 0;
  }
}
.block--hero .layer,
.hero-slider .layer,
.slider .layer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4784313725);
  z-index: 9;
}
.block--hero.video .content-wrapper,
.hero-slider.video .content-wrapper,
.slider.video .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  color: #000;
}
@media (max-width: 1440px) {
  .block--hero.video .content-wrapper,
.hero-slider.video .content-wrapper,
.slider.video .content-wrapper {
    padding: 35vh 15vw 0vh 0;
  }
}
@media (max-width: 1050px) {
  .block--hero.video .content-wrapper,
.hero-slider.video .content-wrapper,
.slider.video .content-wrapper {
    padding: 20vh 20vw 0 0;
  }
}
@media (max-height: 800px) {
  .block--hero.video .content-wrapper,
.hero-slider.video .content-wrapper,
.slider.video .content-wrapper {
    padding: 40vh 10vw 0 0;
  }
}
.block--hero.video-slider .content-wrapper,
.hero-slider.video-slider .content-wrapper,
.slider.video-slider .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  color: #000;
}
@media (max-width: 1440px) {
  .block--hero.video-slider .content-wrapper,
.hero-slider.video-slider .content-wrapper,
.slider.video-slider .content-wrapper {
    padding: 35vh 15vw 0vh 0;
  }
}
@media (max-width: 1050px) {
  .block--hero.video-slider .content-wrapper,
.hero-slider.video-slider .content-wrapper,
.slider.video-slider .content-wrapper {
    padding: 20vh 20vw 0 0;
  }
}
@media (max-height: 800px) {
  .block--hero.video-slider .content-wrapper,
.hero-slider.video-slider .content-wrapper,
.slider.video-slider .content-wrapper {
    padding: 40vh 10vw 0 0;
  }
}

.slider-1 {
  position: absolute;
  z-index: 999999999;
}
.slider-1 .content-wrapper {
  padding: 35vh 15vw 0vh 0;
}
.slider-1 .content-wrapper h1 {
  text-align: left;
  color: #fff;
}
.slider-1 .content-wrapper p {
  color: #fff;
}
@media (max-width: 1440px) {
  .slider-1 .content-wrapper {
    padding: 35vh 15vw 0vh 0;
  }
}
@media (max-width: 1050px) {
  .slider-1 .content-wrapper {
    padding: 20vh 15vw 0 0;
  }
}
@media (max-height: 800px) {
  .slider-1 .content-wrapper {
    padding: 40vh 10vw 0 0;
  }
}

/* CORE */
/* PAGES */
/* MODULES */
/* - Global */
/* - Plugins */
/* - Components */
/* - Archive */
/* - Blocks */
/* - Third Party */